body {
    background-color: #E0C097;
}

h1  {    
    color: #5C3D2E;
}

h3{
    color: #2D2424;
}

p  {
    color: #000000;
}

hr  {
    border-style: none;
    border-top-style: dotted;
    border-color: #B85C38;
    border-width: 6px;
    width: 11%;
}

