body {
    background-color: #E4D1B9;
}

h1  {    
    color: #A97155;
}

h3{
    color: #BE8C63;
}

hr  {
    border-style: none;
    border-top-style: dotted;
    border-color: #8FBDD3;
    border-width: 6px;
    width: 11%;
}

